@{
    ViewBag.Title = "Change Color Theme";
}

<h2>ChangeTheme</h2>

@using(Html.BeginForm("ChangeTheme")){
<div>
 <fieldset>     
	<table>
	<tr><td><INPUT TYPE=RADIO id="th1" NAME=theme VALUE="1">Default (silver)</td></tr>
	<tr><td><INPUT TYPE=RADIO id="th2" NAME=theme VALUE="2">Gray</td></tr>
	<tr><td><INPUT TYPE=RADIO id="th3" NAME=theme VALUE="3">Green</td></tr>
	<tr></tr>
	    <INPUT TYPE="hidden" Name="Name" VALUE="@User.Identity.Name" />		
	</table>
	 </fieldset>
	<INPUT TYPE="submit" VALUE="Change" />	
	</div>
	if(string.Equals(ViewData["Theme"],"1")){  
	<script>
		$("#th1").attr("checked","true")
		</script>
	 } 
	 if(string.Equals(ViewData["Theme"],"2")){
	 <script>
		$("#th2").attr("checked","true")
		</script>	
	 } 
	 if(string.Equals(ViewData["Theme"],"3")){ 
	 <script>
		$("#th3").attr("checked","true")
	 </script>	 	 
}}
	 