@model Presentation.Models.UserEditModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@using (Html.BeginForm("ResetPassword")) {
    <div>
        <fieldset>
            <legend>Delete User @Model.UserName</legend>          
            <p>				  
				@Html.HiddenFor(model => model.UserName)
				@Html.HiddenFor(model => model.ViewType)    				
				<input type="submit" value="Delete User" />
            </p>
        </fieldset>
    </div>
} 
<div>
    @Html.ActionLink("Back To List", "Index")
</div>