@model Presentation.Models.UserEditModel
@{
    ViewBag.Title = "Reset Password";
}

<h2>Change Password</h2>
<p>
    Your password has been reset successfully. New Password is :
	<h2 Align=Center>@ViewData["NewPassword"]</h2>
</p>
@if (string.Equals(ViewData["ViewType"],"All")) {
	<div>
		@Html.ActionLink("Back To List", "Index")
	</div>
	}
@if (string.Equals(ViewData["ViewType"],"One")) {
	<div>
		@Html.ActionLink("Back To Information", "Details", new { Name=@ViewData["UserName"], ViewType="One" })
	</div>
	}