@{
    ViewBag.Title = "Temp";

    Html.Assets().Styles.Add("/Content/slide/jquery.jcarousel.css");
    Html.Assets().Styles.Add("/Content/slide/skin.css");
}

<script type="text/javascript" src="../../Scripts/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="../../Scripts/jquery.jcarousel.pack.js"></script>
<script type="text/javascript" src="../../Scripts/paintweb.js"></script>
<script type="text/javascript" src="../../Scripts/background.js"></script>

<script type="text/javascript">
    var pw;
    var tempImage = GetBackgroundImage();
    var slideCount = 0;
    var currentSlide = 1;
    var tempCounter = 0;
    var background = "../../Content/slide/images/background.jpg";
    var newSlide = "../../Content/slide/images/new_slide.gif";


    $(document).ready(function () {

        // paint web

        var target = document.getElementById('PaintWebTarget');
        pw = new PaintWeb();
        var item = document.createElement('img');
        item.setAttribute("src", tempImage);
        pw.config.guiPlaceholder = target;
        pw.config.imageLoad = item;
        pw.config.configFile = 'config-example.json';
        pw.init();
        pw.events.add('imageSave', saveHandler);

        

        // end paint web
        createStandartSlides();

        //jCarousel Plugin
        $('#carousel').jcarousel({
            vertical: true, //display vertical carousel
            scroll: 1,  //auto scroll
            auto: 0,    //the speed of scrolling
            wrap: 'last',   //go back to top when reach last item
            initCallback: mycarousel_initCallback   //extra called back function
        });

        //Front page Carousel - Initial Setup
        //set all the item to full opacity
        $('div#slideshow-carousel a img').css({ 'opacity': '1.0' });

        //readjust the first item to 50% opacity
        $('div#slideshow-carousel a img:first').css({ 'opacity': '1.0' });

        //append the arrow to the first item
        $('div#slideshow-carousel li a:first').append('<span class="arrow"></span>')


        //Add hover and click event to each of the item in the carousel
        $('div#slideshow-carousel li a').hover(
        function () {

            //check to make sure the item is not selected
            if (!$(this).has('span').length) {
                //reset all the item's opacity to 50%
                $('div#slideshow-carousel li a img').stop(true, true).css({ 'opacity': '0.9' });

                //adust the current selected item to full opacity
                $(this).stop(true, true).children('img').css({ 'opacity': '1.0' });
            }
        },
        function () {

            //on mouse out, reset all the item back to 50% opacity
            $('div#slideshow-carousel li a img').stop(true, true).css({ 'opacity': '0.9' });

            //reactivate the selected item by loop through them and look for the one
            //that has the span arrow
            $('div#slideshow-carousel li a').each(function () {
                //found the span and reset the opacity back to full opacity
                if ($(this).has('span').length) $(this).children('img').css({ 'opacity': '1.0' });

            });

        }
    ).click(function () {

        //remove the span.arrow
        $('span.arrow').remove();

        //append it to the current item        
        $(this).append('<span class="arrow"></span>');

        //alert("I here");
        var slideNumber = $(this).attr("id");

        saveSlide();
        // check on temp
        var type = $(this).parent('li').attr("id");
        var imgUrl = document.getElementById("img" + slideNumber);
        if (type == "temp") {
            imgUrl.setAttribute("src", tempImage);
            $(this).parent('li').attr("id", "real");

            if (slideNumber == slideCount) {
                createNewSlide();
            }
        }
        var img = document.createElement('img');
        img.setAttribute("src", imgUrl.getAttribute("src"));
        currentSlide = slideNumber;
        pw.imageLoad(img);
        return false;
    });


    });


    function createNewSlide(){
        var startList = document.getElementById("carousel");
        slideCount++;
        var list = document.createElement("li");
        var link = document.createElement("a");
        link.setAttribute("id", slideCount);
        link.setAttribute("href", "");
        link.setAttribute("rel", "");
        var img = document.createElement("img");
        img.setAttribute("width", 206);
        img.setAttribute("height", 95);
        img.setAttribute("id", "img" + slideCount);
        img.setAttribute("src", newSlide);
        list.setAttribute("id", "temp");
        link.appendChild(img);
        list.appendChild(link);
        startList.appendChild(list);
    }

    function createStandartSlides() {
        slideCount = 4;
        var startList = document.getElementById("carousel");
        for (var i = 1; i <= slideCount; i++) {
            var list = document.createElement("li");
            
            var link = document.createElement("a");
            link.setAttribute("id", i);
            link.setAttribute("href", "");
            link.setAttribute("rel", "");
            var img = document.createElement("img");
            img.setAttribute("width", 206);
            img.setAttribute("height", 95);
            img.setAttribute("id", "img" + i);
            if (i < 2) {
                img.setAttribute("src", tempImage);
                list.setAttribute("id", "real");
            }
            else {
                img.setAttribute("src", newSlide);
                list.setAttribute("id", "temp");
            }
            link.appendChild(img);
            list.appendChild(link);
            startList.appendChild(list);
        }
    }

    function mycarousel_initCallback(carousel) {
    }

    function saveSlide() {
        pw.imageSave('image/jpeg');
    }

    function saveHandler(ev) {
        // Cancel the default action of the event.
        ev.preventDefault();
        var slide = document.getElementById("img" + currentSlide);
        slide.setAttribute("src", ev.dataURL);
    }



    function trySave() {
        saveSlide();
        var list=document.getElementById("carousel");
        var imageArray = new Array();

        for (var i = 1; i <= slideCount; i++) {
            var j = list.childNodes[i];

            if (j.getAttribute("id") == "real") {
                var index = j.childNodes[0].getAttribute("id");
                var source = document.getElementById("img" + index);
                imageArray[i] = source.getAttribute("src");
            }
        }
        $.ajax({
            type: 'POST',
            url: "/Slide/Save",
            data: { name: imageArray },
            traditional: true,
            success: function (data) {
                alert('in student');
            },
            error: function (data) {
                alert("not in student");
            }
        });
    }

</script>


<div style="height:800px; margin:0px;padding:0px;">

<div id="slideshow-carousel">				
			  <ul id="carousel" class="jcarousel jcarousel-skin-tango">
@*				<li><a id="1" href="" rel=""><img src="../../Content/slide/images/1.gif" width="206" height="95" id="img1" alt="#" /></a></li>
				<li><a id="2" href="" rel=""><img src="../../Content/slide/images/2.gif" width="206" height="95" id="img2" alt="#" /></a></li>
                <li><a id="3" href="" rel=""><img src="../../Content/slide/images/3.gif" width="206" height="95" id="img3" alt="#" /></a></li>
                <li><a id="4" href="" rel=""><img src="../../Content/slide/images/4.gif" width="206" height="95" id="img3" alt="#" /></a></li>
                <li><a id="5" href="" rel=""><img src="../../Content/slide/images/5.gif" width="206" height="95" id="img3" alt="#" /></a></li>
                <li><a id="6" href="" rel=""><img src="../../Content/slide/images/6.gif" width="206" height="95" id="img3" alt="#" /></a></li>
                <li><a id="7" href="" rel=""><img src="../../Content/slide/images/7.gif" width="206" height="95" id="img3" alt="#"  /></a></li>*@
			  </ul>
</div>

<div id="PaintWebTarget" style="position:relative; float:left; margin-left:100px"></div>
<div class="clear"></div>
<button onclick="saveSlide()" ondblclick="save()">Save</button>
<button onclick="update()" ondblclick="update()">Update</button>
<button onclick="createNewSlide()" ondblclick="createNewSlide()">CreateNewSlide</button>

<button onclick="trySave()" ondblclick="trySave()">TrySave</button>
</div>
