@{
    ViewBag.Title = "Admin";
}
<h2>Dashboard</h2>
<p Align=Center>
   @Html.ActionLink("Manage Users Data", "../User/Index")
   </p>
   <p Align=Center>
   @Html.ActionLink("Manage Presentations", "../Presentation/Index")
</p>